<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Wish list</h1>
    </div>
    <div class="col-sm-12">
      <div class="align-center" *ngIf="!products.length">Your list are empty!</div>
    </div>
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">
      <div class="product-list">
        <app-product-item *ngFor="let product of products;"
                          [product]="product"
                          (removeFromWishList)="onRemoveFromWishList($event)"
                          [showRemoveIcon]="showRemoveIcon"
                          [show]="show"></app-product-item>
      </div>
    </div>
  </div>
</div>

